@using Core.Enums;
@using MVC_Identity.ViewModels;
@model InfoToDoTaskViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Update">
    <div class="form-group">
        <label asp-for="Name">Title</label>
        <input asp-for="Name" class="form-control"  value="@Model.Name">
    </div><br>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" value="@Model.Description">
    </div><br>
    <div class="form-group">
        <label asp-for="Priority">Task Priority</label><br>
        <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<TaskPriority>()"><option>@Model.Priority</option></select>
    </div><br>
    <div class="form-group">

        <label asp-for="StartTime">StartTime</label>
        <input asp-for="StartTime" type="date" class="form-control" value="@Model.StartTime.ToString("yyyy-MM-dd")" />
    </div><br>
    <div class="form-group">
        <label asp-for="DeadLine">DeadLine</label>
        <input asp-for="DeadLine" type="date" class="form-control" value="@Model.DeadLine.ToString("yyyy-MM-dd")" />
    </div><br>
    <div class="form-group">
        <label asp-for="Status">Task Status</label><br>
        <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<TaskCurrentStatus>()"><option>@Model.Priority</option></select>
    </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>